---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <Head title="Admin Panel - DobleYo" isAdmin={true} />
  </head>
  <body class="bg-gray-50 text-gray-900">
    <!-- Header -->
    <Header />

    <!-- Footer -->
    <Footer />
  </body>
</html>
